.body-login{
	display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
.header-menu{
    z-index: 999999;
    background-color: #4a86e8;
}
.content-login{
	width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.div-forgot{
	color:#999;
	margin:1em 0
}
.float-right{
    float:right !important;
}
.menu-color{
   background-color: #c2d8fb;
}
.text-white{
    color: #fff;
}
.menu-color a{
    color: #fff !important;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
   color: #000 !important;
   background-color: #fff; 
}
.navbar-inverse{
    border-color: #e2e2e2 !important;;
}
.p-0{
    padding: 0;
}